
.navdiv{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    margin-left: 10px;
}
.searchbar{
    margin-left: 40px;
    margin-top: 30px;
    height:30px;
    width: 400px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: large;

}
.icondiv{
    display: flex;
    gap: 20px;
    margin-left: 10px;
}
.anchordiv{
    margin: 30px;
    display: flex;
    gap: 15px;
    
}
a{
    color: black;

    text-decoration: none;
    font-size:larger;
}
a:hover{
    color: rgb(152, 100, 100);
   
}





