.footerdiv{
    background-color: black;
    height: fit-content;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;

}
.icon{
    color: white;
    font-size: 25px;
}
.icon:hover{
    color: brown;
}
.icondiv{
    display: flex;
    gap: 10;
}